@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*DATE*/
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #d1e2c4 !important;
  color: #000 !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #c1d6b1 !important;
}
/*FROM and TO*/
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1e2c4;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
